$brand-primary-100: #fff2eb;
$brand-primary-200: #ffe4d6;
$brand-primary-300: #ffd7c2;
$brand-primary-400: #ffc9ad;
$brand-primary-500: #ffbc99;
$brand-primary-600: #cc967a;
$brand-primary-700: #99715c;
$brand-primary-800: #664b3d;

$brand-secondary-100: #fff7eb;
$brand-secondary-200: #ffefd6;
$brand-secondary-300: #ffe6c2;
$brand-secondary-400: #ffdead;
$brand-secondary-500: #ffd699;
$brand-secondary-600: #ccab7a;
$brand-secondary-700: #99805c;
$brand-secondary-800: #66563d;

$brand-accent-100: #ffedeb;
$brand-accent-200: #ffdad6;
$brand-accent-300: #ffc8c2;
$brand-accent-400: #ffb5ad;
$brand-accent-500: #ffa399;
$brand-accent-600: #cc827a;
$brand-accent-700: #99625c;
$brand-accent-800: #66413d;
$brand-accent-900: #33211f;

$font-color-500: #de733a;
$font-color-600: #b25c2e;
$font-color-700: #854523;
$font-color-800: #592e17;
